<!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="content_main" style="min-height: 600px;">
            <a style="font-weight: bold; 
                     color:red; 
                     padding-right: 30%; 
                     padding-left: 30%">
                <?=$this->error;?>
            </a>
        </div>
    </body>
</html>
