<!DOCTYPE html>
<html>
  <head>
    <title>SciReg</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/CSS/menu.css" type="text/css">
  </head>
  <body class="main_body">
    <div class="content_main" style="height:100%;">
      <div style="padding-left: 70px; padding-right: 70px;
        padding-top:40px; text-align: justify;">
        <div align="center">
          <h1>О базе данных SciReg</h1>
        </div>
        База данных SciReg предназначена для ввода и хранения научными
        сотрудниками, а также инженерами, лаборантами, программистами и
        т.д. (Наука 2) информации о ходе работ по выполнению
        государственных заданий.
        <p> Кроме самого сотрудника, информация доступна руководителям
          соответствующей лаборатории, отдела, отделения, директору,
          секретарям секций. Доступ руководителей к разделам сотрудников
          осуществляется через пункт меню "Подразделение", либо через
          алфавитный указатель.</p>
        <p> Для получения возможности работать с базой данных
          необходимо, чтобы руководитель отделения/секретарь секции
          назначил сотруднику Тему (пункт Темы). Необходимо также, чтобы
          руководитель темы заполнил&nbsp; "План" и "Ожидаемые
          результаты" ("Задание" для Науки 2, здесь указывается круг
          обязанностей, обслуживаемая установка и т.д.). <br>
        </p>
        <p>Темы разделены на группы: ФНИ ГАН, ОФН РАН, Программы ФЦП.
          Контроль за выполнением тем осуществляют руководители
          лабораторий (отделов) и тем. Руководителей тем назначают
          руководители отделений института или секретари секций учёного
          совета. <br>
        </p>
        <p> В ходе работ по выполнению плана сотрудник, помимо общего
          описания результатов (Отчет) приводит данные, используемые при
          расчете ПРНД: публикации в рецензируемых отечественных и
          зарубежных журналах, монографии, доклады на конференциях,
          прочитанные курсы лекций, патенты и научное руководство
          соискателями ученой степени кандидата наук. Для Науки 2
          предусмотрено только заполнение поля "Отчет".&nbsp; <br>
        </p>
        <p> Данные из базы SciReg впоследствии могут быть использованы
          при составлении годовых отчетов, подаче материалов для расчета
          ПРНД.</p>
        <p> Информация за каждый год хранится в отдельной базе данных.
          Для работы с соответствующей базой данных выберите год. Планы
          и Ожидаемые результаты должны заполняться (руководителями тем)
          в конце года, после утверждения планов на учёном совете,
          остальные&nbsp; поля, включая Отчёт, заполняются исполнителями
          тем в течение всего года, по мере выполнения этапов работы,
          отправки в печать или публикации статей.<br>
        </p>
        <p> <span style="font-weight: bold;">Регистрация</span></p>
        <p>Для регистрации научного сотрудника необходимо заполнить все
          обязательные поля регистрационной формы, причем имя и пароль
          (login, password) должны совпадать с вашим именем и паролем на
          почтовом сервере mail.izmiran.ru. В дальнейшем пароль и другие
          параметры вашего профиля можно будет изменить. При регистрации
          инженеров, лаборантов, программистов&nbsp; ("Наука 2") наличие
          e-mail не требуется, в качестве имени (login) можно выбрать
          любое (лат. буквы и цифры, до 32 символов).<br>
        </p>
        <p>Зарегистрированные пользователи могут <b>войти</b> в базу
          данных выбрав пункт меню <b>LOGIN</b>.<br>
        </p>
        <p> <span style="font-weight: bold;">Персональные данные</span></p>
        <p> Данный блок включает в себя: Ф.И.О. пользователя, вхождение
          в подразделение(я) с указанием должности. Если пользователь
          является руководителем какой-либо темы, то это также
          отражается в данном блоке.</p>
        <p> <span style="font-weight: bold;">Темы</span></p>
        Руководители отделений и секретари секций УС имеют право <b>включать</b>
        сотрудников в состав <b>исполнителей</b> тем и <b>назначать</b>
        одного из них руководителем темы, а также <b>удалять</b>
        сотрудников из состава исполнителей или снимать, менять статус
        руководителя.<br>
        <br>
        <p><b> Ввод и сохранение информации <br>
            <br>
          </b>Сохранение информации, введенной в различные поля ввода
          осуществляется автоматически при уходе с этого поля или выходе
          из базы (<b>Exit</b>). Информация <b>не сохранится</b>, если
          сразу после её ввода воспользоваться кнопкой
          программы-навигатора <b>Back</b> (Назад по истории
          навигации). <br>
          <br>
        </p>
        <span style="font-weight: bold;">План</span>
        <p> Руководители отделений / руководители тем должны для себя и
          своих подчиненных устанавливать "План НИР" и "Ожидаемый
          результат" работы ("Задание" для Науки 2).</p>
        <p> Как и в случае с назначением научных тем, определять "План
          НИР" и "Ожидаемый результат" <span style="font-weight: bold;">себе












            и подчиненным</span> имеют право только руководители
          отделений и руководители тем (а также секретари секций УС).</p>
        Для того, чтобы определить "План НИР" и "Ожидаемый результат",
        необходимо:
        <p> </p>
        <p style="padding-left: 50px;">1. Находиться в статусе
          руководителя отделения или руководителя темы.</p>
        <p> </p>
        <p style="padding-left: 50px;">2. В пункте меню Сервис/АБВГД
          (поиск по алфавиту) или Статус, <b>найти&nbsp; сотрудника</b>.
          Руководители тем могут выбрать пункт меню "Тема" со списком
          сотрудников, участвующих в работе по выбранной теме.</p>
        <p> </p>
        <p style="padding-left: 50px;">3. Цвет экрана при входе на чужую
          страницу должен стать синим, это является подтверждением того,
          что руководитель отделения или руководитель темы находится на
          странице подчиненного.</p>
        <p> </p>
        <p> </p>
        <p style="padding-left: 50px;">4. В блоке "План НИР" в поле
          редактирования определить план работы для подчиненного;</p>
        <p> </p>
        <p style="padding-left: 50px;">6. В блоке "Ожидаемый результат"
          в поле редактирования написать об ожидаемых результатах
          работы.</p>
        <p> <span style="font-weight: bold;">Отчет</span></p>
        <p> Отчет заполняется сотрудниками-исполнителями тем в
          соответствии с планами работ и ожидаемыми результатами.
          Заполнение происходит в блоке "Отчет", в поле редактирования.
          Отчет можно просмотреть в трёх различных форматах: в виде
          обычного (ПРЕдварительно отформатированного) текста (PRE), в
          виде HTML (приведенного к заданной ширине и выровненного) и в
          PDF (после обработки отчета, оформленного по правилам&nbsp;
          LaTeX).<br>
        </p>
        <p><b>Статус</b><br>
        </p>
        <p><b>Руководители подразделений и секретари секций</b> могут
          просматривать <b>статус</b> заполнения разделов базы
          сотрудниками. Персональный статус также отображается в профиле
          каждого пользователя. Статус заполнения представляет собой
          последовательность букв, означающих наличие/заполнение,
          соответственно, Темы (Т), Планов (П), ожидаемых Результатов
          (Р), Отчёта (О) и Статей и проч (С). Красный цвет означает,
          что поле не заполнено, зелёный - заполнено.&nbsp; <br>
        </p>
        <p> <span style="font-weight: bold;">LaTeX</span></p>
        <p> <br>
          В SciReg встроена возможность форматирования текста и
          включения в отчёт математических символов и формул. Для этого
          достаточно использовать в тексте отчёта синтаксис LaTeX. В
          этом случае после нажатия на кнопку [LaTeX] будет произведена
          обработка отчёта, а результат выведен в формате PDF. <br>
          <b>! При копировании текста из MS Word математические символы
            (в кодировке UTF8) приводят к ошибкам обработки LaTeX. В
            этих случаях следует пользоваться соответствующими
            обозначениями LaTeX.</b><br>
          <br>
          Простейшие средства LaTeX&nbsp; совсем не трудно освоить:<br>
          <br>
        </p>
        <ul>
          <li>Специальные команды и символы TeX имеют вид: &nbsp;
            \name&nbsp; (обратная косая и имя символа или команды). </li>
          <li>Строки "комментариев" (игнорируются системой LaTeX)
            обозначаются символом процента (%). </li>
          <li>Для ввода греческих букв просто указываете&nbsp; их по
            именам:&nbsp; \alpha&nbsp; , \beta ,&nbsp; \gamma , \Alpha ,
            \Beta , \Gamma. </li>
          <li>Нижние и верхние индексы обозначаются, соответственно,
            подчёркиванием и "крышкой" : _&nbsp; ^, например N_i &nbsp;
            P^k. </li>
          <li>Если в индекс нужно включить несколько символов, их
            следует объединить фигурными скобками: H^{nk}. </li>
          <li>Для помещения формул внутри текста следует выделять их
            знаками доллара:&nbsp;&nbsp; $ N = 0 $. </li>
          <li>Для размещения формулы отдельно от текста, двумя
            долларами:&nbsp; $$ {1\over 4\pi}\Omega^i = \rho v h$$.</li>
          <li> Указание температуры в градусах осуществляется следующим
            образом $ T = 32^\circ\rm C $, набла - $\nabla$<br>
          </li>
          <li>Символы суммы, интеграла, бесконечности задаются
            так:&nbsp;&nbsp; \sum&nbsp;&nbsp; \int&nbsp; \infty,
            например \sum_{n=0}^{n=\infty}c_nz^n</li>
          <li>Дроби - over(над): $ {1\over 4\pi} $ или frac(fraction -
            дробь): $\frac{числитель}{знаменатель}$<br>
          </li>
          <li>Квадратный корень (square root): $ \sqrt{x^2+y^2} $,
            частная производная (partial):&nbsp; ${\partial \over
            \partial t} V$</li>
        </ul>
        <a
          href="https://oeis.org/wiki/List_of_LaTeX_mathematical_symbols">
          Справка по математическим символам LaTeX</a> <br>
        <br>
        Например, нижеприведённый текст <br>
        <br>
        $$<br>
        {d\rho\over dt} + \rho\; \rm{div} {\bf v} = 0<br>
        $$<br>
        <br>
        $$<br>
        \rho {d{\bf v} \over dt} = - \rm{grad}\; p + {1 \over c} [{\bf
        j} \times {\bf B}]<br>
        $$<br>
        <br>
        $$<br>
        {d\over dt}(p/\rho^\gamma) = 0<br>
        $$<br>
        <br>
        <br>
        после обработки LaTeX приобретает следующий вид:<br>
        <br>
        <img alt="" src="/Images//mhd.png"><br>
      </div>
    </div>
  </body>
</html>
